// https://chriskempson.github.io/base16/#ocean

$base00: #2B303B;
$base01: #343D46;
$base02: #4F5B66;
$base03: #65737E;
$base04: #A7ADBA;
$base05: #C0C5CE;
$base06: #DFE1E8;
$base07: #EFF1F5;
$base08: #bf616a;
$base09: #d08770;
$base0A: #FFF9C4;
$base0B: #a3be8c;
$base0C: #96b5b4;
$base0D: #8fa1b3;
$base0E: #ffdddd;
$base0F: #ab7967;

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCP2LEk6lMzYsRqr3dHFImA.woff2) format('woff2');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMzFoXZ-Kj537nB_-9jJhlA.woff2) format('woff2');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM2Sl3jWJ3D9poyJPMfASioc.woff2) format('woff2');
}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: White;
	color: $base00;
	font: normal 11pt/21px "Source Sans Pro", "San Francisco Text", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 0;
	word-break: break-word;
}

html, body, .wrapper, .content {
	height: 100%;
	width: 100%;
}

textarea, input {
	font-family: sans-serif;
	outline: none;
}

a {
	color: $base02;
	text-decoration: underline;
	outline: none;
	&:hover {
		color: $base00;
		text-decoration: none;
	}
}

.overlay {
	background-color: $base00;
	color: White;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	z-index: 5000;
	background-image: url("/images/bg.jpg");
	background-size: cover;
	background-position: center bottom;
	footer {
		position: absolute;
		bottom: 20px;
		left: 20px;
		a {
			color: White;
		}
	}
}

.config {
	padding: 0;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	h1 {
		font-weight: 300;
		margin: 0 0 10px;
		text-shadow: 0 0 2px black;
		a {
			cursor: help;
			color: White;
			text-decoration: none;
		}
	}
	p {
		font-size: 14pt;
		text-shadow: 0 0 2px black;
		margin: 0;
	}
	form {
		max-width: 300px;
		padding: 0;
		margin: 35px auto 0;
		text-align: left;
		.control-group {
			margin: 8px auto;
		}
		label {
			display: block;
			font-size: 10pt;
		}
	}
	input {
		&[type=text].ng-invalid {
			background-color: #fdd;
		}
		&[type=submit] {
			background-color: Black;
			border: none;
			border-radius: 2px;
			color: White;
			cursor: pointer;
			font-size: 12pt;
			padding: 8px;
			transition: all .15s linear;
			width: 100%;
			&:disabled {
				background-color: #bbb;
				color: #ddd;
			}
			&:hover {
				background-color: #DD6E90;
			}
		}
		&[type=text] {
			background-color: White;
			border: none;
			border-radius: 2px;
			color: #333;
			display: block;
			font-size: 12pt;
			line-height: 1.5;
			padding: 7px 14px;
			transition: all .25s linear;
			width: 100%;
		}
	}
	label {
		padding: 4px 0;
	}
}


.wrapper {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}

.sidebar {
	overflow: auto;
	transition: all .25s ease-in-out;
	width: 240px;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	background-color: $base00;
	color: White;
	header {
		font-size: 14pt;
		line-height: 26px;
		padding: 18px 20px 17px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		img {
			display: none;
		}
	}
	h2 {
		font-weight: 600;
		padding: 0px 20px;
		font-size: 11pt;
		margin: 20px 0px 0px;
	}
	li a {
		color: White;
		text-decoration: none;
		line-height: 30px;
		display: inline-block;
	}
	ul {
		list-style: none;
		padding: 0px 20px 20px;
		margin: 15px 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.close {
		width: 20px;
		text-align: center;
		color: $base04;
	}
	.active {
		font-weight: 600;
	}
}

.content {
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 60px 0 0;
	transition: all .25s ease-in-out;
	width: 100%;
	header {
		position: absolute;
		top: 0px;
		left: 240px;
		z-index: 2;
		background-color: White;
		right: 0px;
		min-height: 62px;
		border-bottom: 1px solid $base07;
		.title {
			padding: 20px 120px 20px 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: $base02;
			&:hover {
				white-space: normal;
				color: $base00;
			}
			strong {
				text-transform: capitalize;
				display: inline-block;
				margin-right: 10px;
				font-weight: 600;
				color: $base00;
			}
			img {
				display: none;
			}
		}
		.total-users {
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}
	.status {
		opacity: 0.75;
		font-style: italic;
		font-size: 10pt;
		line-height: 19px;
	}
	.mention {
		background-color: $base0A;
	}
	.action {
		font-style: italic;
	}
	.sender {
		font-weight: 600;
		max-width: 140px;
		overflow: hidden;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 140px;
		padding: 5px 10px;
		flex-shrink: 0;
		-webkit-flex-shrink: 0;
	}
	.supplemental .sender {
		font-size: 0;
	}
	.message {
		padding: 5px 10px 5px 0;
		flex-grow: 1;
		-webkit-flex-grow: 1;
	}
	.timestamp {
		opacity: 0;
		font-size: 9pt;
		padding: 6px;
		flex-shrink: 0;
		-webkit-flex-shrink: 0;
		transition: opacity 0.1s ease-in-out;
	}
	li {
		display: flex;
		display: -webkit-flex;
		width: 100%;
		padding: 0;
		border-top: 1px dotted $base07;
		&:hover .timestamp {
			opacity: 0.4;
		}
		&:last-child {
			margin-bottom: 50px;
		}
		&.supplemental {
			border: none;
		}
	}
}

.input {
	position: absolute;
	bottom: 0;
	left: 240px;
	right: 0;
	border-top: 1px solid $base06;
	background-color: White;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	span {
		flex-shrink: 0;
		-webkit-flex-shrink: 0;
		padding: 0 10px;
		line-height: 40px;
		background-color: $base07;
		width: 140px;
		text-align: right;
	}
	input[type="text"] {
		flex-grow: 1;
		-webkit-flex-grow: 1;
		background-color: White;
		border: none;
		color: $base00;
		font: normal 11pt/40px "Source Sans Pro", "San Francisco Text", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
		padding: 0 10px;
		margin: 0;
		&.disconnected {
			background-color: $base0E;
		}
	}

}


blockquote {
	margin: 0;
	padding: 0;
}

.expander {
	display: inline-block;
	height: 12px;
	padding: 0px 7px;
	font-size: 12px;
	font-weight: 600;
	line-height: 6px;
	color: $base00;
	vertical-align: middle;
	background-color: $base07;
	cursor: pointer;
}

.image-embed {
	max-width: 400px;
	max-height: 400px;
}

.embed {
	background-color: White;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	max-width: 500px;
	box-shadow: 0 0 0 1px $base07;
	margin: 5px 0;
	a {
		text-decoration: none;
		color: $base00;
	}
	.thumb {
		line-height: 0;
		width: 120px;
		min-height: 100px;
		flex-shrink: 0;
		-webkit-flex-shrink: 0;
		background-size: cover;
		background-position: center;
		background-image: url('/images/placeholder.png');
		a {
			display: block;
			width: 100%;
			height: 100px;
		}
	}
	.description {
		padding: 10px 15px;
		h1 {
			margin: 0 0 5px;
			font-size: 11pt;
			font-weight: 600;
		}
		p {
			margin: 0;
		}
	}
}

@media (max-width: 768px) {
	body {
		font-size: 10pt;
		line-height: 19px;
	}
	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 5;
		header {
			padding: 8px 20px 8px 50px;
			img {
				display: inline;
					position: absolute;
					top: 12px;
					left: 20px;
			}
		}
	}
	.sidebar.shown {
		left: 0;
	}
	.sidebar.hidden {
		left: -240px;
	}
	.content {
		padding: 40px 0 0;
		header {
			left: 0;
			min-height: 42px;
			.title {
				padding: 12px 20px 11px 50px;
				min-height: 42px;
				img {
					display: inline;
					position: fixed;
					top: 12px;
					left: 20px;
					z-index: 4;
				}
			}
			.total-users {
				display: none;
			}
		}
		.sender {
			max-width: 100px;
		}
		.timestamp {
			display: none;
		}
	}
	.input {
		left: 0;
		span {
			width: auto;
		}
	}
	.embed {
		.thumb {
			img {
				max-width: 100px;
				max-height: 100px;
			}
		}
	}
}


.user-1 {
	color: #e51c23;
}

.user-2 {
	color: #e91e63;
}

.user-3 {
	color: #9c27b0;
}

.user-4 {
	color: #673ab7;
}

.user-5 {
	color: #3f51b5;
}

.user-6 {
	color: #5677fc;
}

.user-7 {
	color: #03a9f4;
}

.user-8 {
	color: #00bcd4;
}

.user-9 {
	color: #009688;
}

.user-10 {
	color: #259b24;
}

.user-11 {
	color: #8bc34a;
}

.user-12 {
	color: #afb42b;
}

.user-13 {
	color: #ff9800;
}

.user-14 {
	color: #ff5722;
}

.user-15 {
	color: #795548;
}

.user-16 {
	color: #607d8b;
}