* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #333;
	font: 300 12pt/1.3 "San Francisco Display", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

html,
body,
.wrapper,
.content {
	height: 100%;
	width: 100%;
}

textarea,input {
	font-family: sans-serif;
	outline: none;
}

hr {
	width: 100px;
	height: 2px;
	margin: 60px auto;
	border: none;
	background-color: #e0e0e0;
}

a:hover {
	text-decoration: none;
}


.config {
	padding: 0;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.config h1 {
	font-weight: 300;
	margin: 0 0 10px;
	text-shadow: 0 0 2px black;
}

.config h1 a {
	cursor: help;
	color: #fff;
	text-decoration: none;
}

.config p {
	font-size: 14pt;
	text-shadow: 0 0 2px black;
	margin: 0;
}

.config form {
	max-width: 300px;
	padding: 0;
	margin: 35px auto 0;
	text-align: left;
}

.config form .control-group {
	margin: 8px auto;
}

.config form label {
	display: block;
	font-size: 10pt;
}

.config input[type=text].ng-invalid {
	background-color: #fdd;
}

.config input[type=submit] {
	background-color: #000;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 12pt;
	padding: 8px;
	transition: all .15s linear;
	width: 100%;
}

.config input[type=submit]:disabled {
	background-color: #bbb;
	color: #ddd;
}

.config input[type=submit]:hover {
	background-color: #DD6E90;
}

.config input[type=text] {
	background-color: #fff;
	border: none;
	border-radius: 2px;
	color: #333;
	display: block;
	font-size: 12pt;
	line-height: 1.5;
	padding: 7px 14px;
	transition: all .25s linear;
	width: 100%;
}

.config label {
	padding: 4px 0;
}

.content {
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	transition: all .25s ease-in-out;
	width: 100%;
}

.content .message a {
	color: #424242;
	text-decoration: underline;
	transition: all .25s linear;
}

.content .message a:hover {
	color: #000;
	text-decoration: none;
}

.content .status-message {
	background-color: #fafafa;
	border-color: #f0f0f0;
}

.content .mention {
	background-color: #fde0dc;
	color: #B2281D;
	border-color: #F9BDBB;
}

.content .message {
	padding: 6px 10px;
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.content .sender {
	color: #666;
	font-weight: 700;
	margin-right: 5px;
	max-width: 140px;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 140px;
	background-color: rgba(0,0,0,0.01);
	padding: 6px 10px;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

.content .timestamp {
	color: rgba(0,0,0,0.3);
	font-size: 9pt;
	padding: 6px;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

.content .timestamp,
.content .sender,
.content .message {

}

.content li {
	display: flex;
	display: -webkit-flex;
	width: 100%;
	padding: 0;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10pt;
	line-height: 17px;
	border-bottom: 1px solid #f5f5f5;
}

.content li:first-child {
	border-top: 1px solid #f5f5f5;
}

.content li:hover {
	background-color: #fffde7;
	border-color: #fff59d;
}

.content.users-shown {
	width: calc(100% - 180px);
}

.overlay {
	background-color: #0e0810;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	z-index: 5000;

	background-image: url("/images/bg.jpg");
	background-size: cover;
	background-position: center bottom;
}

footer {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

footer a {
	color: #fff;
}

header {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 3px #ddd;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	line-height: 40px;

	display: table;
	border-spacing: 0;
	border-collapse: collapse;
}

header div {
	display: table-cell;
	vertical-align: middle;
}

header div:nth-child(1) { width: 40%; padding-left: 20px; }
header div:nth-child(2) { width: 20%; text-align: center; }
header div:nth-child(3) { width: 40%; text-align: right; padding-right: 30px; }

header .logo img {
	width: 82px;
	vertical-align: middle;
}

.tabbar {
	list-style: none;
	margin: 0;
	padding: 0;
}



.tabbar.users-shown {
	right: 180px;
}

.tabbar li {
	display: inline-block;
	font-size: 11pt;
}

.tabbar li a {
	color: #777;
	text-decoration: none;
	padding: 0 10px;
	display: inline-block;
}

.tabbar li a.channel {
	
}

.tabbar li a.close {
	color: #bbb;
	padding-left: 0;
}

.tabbar li.active {
	font-weight: bold;
}

.tabbar li.active a.channel {
	color: #333;
}


.tabbar li a.activity {
	font-weight: bold;
}

.tabbar li:hover a.close {
	color: #777;
}

.user-input {
	background-color: #FFF;
	border: none;
	border-top: 1px solid #bdbdbd;
	bottom: 0;
	color: #616161;
	display: block;
	font: normal 11pt/19px sans-serif;
	left: 0;
	margin: 0;
	padding: 10px 20px;
	position: absolute;
	width: 100%;
	transition: all .25s ease-in-out;
}

.user-input.users-shown {
	width: calc(100% - 180px);
}

.users {
	background-color: #fff;
	border-left: 1px solid #bdbdbd;
	bottom: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	transition: all .25s ease-in-out;
	width: 180px;
	font-size: 10pt;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.users.users-hidden {
	right: -180px;
}

.users.users-shown {
	right: 0;
}

.users li a {
	color: #555;
	display: block;
	margin: 5px 0;
	padding: 0 15px;
	text-decoration: none;
	transition: color .25s ease-in-out;
}

.users li a:hover {
	text-decoration: underline;
}

.users ul {
	list-style: none;
	margin: 0;
	padding: 42px 0 10px;
}

.users-toggle img {
	vertical-align: middle;
}

.wrapper {
	padding-bottom: 40px;
	padding-top: 42px;
}


.embed {
	margin: 10px 0;
	padding: 0;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}

.content .message .embed a {
	text-decoration: none;
}

.thumb {
	line-height: 0;
}

.thumb img {
	max-width: 150px;
	max-height: 100px;
}

.description {
	padding: 15px;
	background-color: #eee;
	max-width: 450px;
}

.description h1 {
	margin: 0 0 5px;
	font-size: 10pt;
}

.description p {
	margin: 0;
}

.image-embed {
	max-width: 400px;
	max-height: 400px;
	width: 100%;
}


@media (max-width: 720px) {
	body {
		font-size: 10pt;
	}

	#canvas-container { display: none; }

	.config {
		padding: 20px;
		width: 100%;
	}

	.content {
		overflow-wrap: break-word;
		word-break: break-all;
	}

	.content li {

	}

	.content.users-shown {
		width: 100%;
	}

	.content .sender {
		max-width: 80px;
			width: 80px;
	}

	header div:nth-child(1) { width: 100%; padding: 0; }
	header div:nth-child(2),
	header div:nth-child(3) {
		display: none;
	}

	.tabbar {
		padding: 5px 10px 0;
	}

	.user-input {
		padding: 10px;
	}

	.user-input.users-shown {
		width: 100%;
	}

	.users,
	.content .timestamp,
	.users-toggle {
		display: none;
	}
}
