* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: White;
	color: #333;
	font: normal 11pt/1.4 "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

html,
body,
.wrapper,
.content {
	height: 100%;
	width: 100%;
}

textarea,input {
	font-family: sans-serif;
	outline: none;
}

hr {
	width: 100px;
	height: 2px;
	margin: 60px auto;
	border: none;
	background-color: #e0e0e0;
}

a:hover {
	text-decoration: none;
}


.config {
	padding: 0;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.config h1 {
	font-weight: 300;
	margin: 0 0 10px;
	text-shadow: 0 0 2px black;
}

.config h1 a {
	cursor: help;
	color: White;
	text-decoration: none;
}

.config p {
	font-size: 14pt;
	text-shadow: 0 0 2px black;
	margin: 0;
}

.config form {
	max-width: 300px;
	padding: 0;
	margin: 35px auto 0;
	text-align: left;
}

.config form .control-group {
	margin: 8px auto;
}

.config form label {
	display: block;
	font-size: 10pt;
}

.config input[type=text].ng-invalid {
	background-color: #fdd;
}

.config input[type=submit] {
	background-color: #000;
	border: none;
	border-radius: 2px;
	color: White;
	cursor: pointer;
	font-size: 12pt;
	padding: 8px;
	transition: all .15s linear;
	width: 100%;
}

.config input[type=submit]:disabled {
	background-color: #bbb;
	color: #ddd;
}

.config input[type=submit]:hover {
	background-color: #DD6E90;
}

.config input[type=text] {
	background-color: White;
	border: none;
	border-radius: 2px;
	color: #333;
	display: block;
	font-size: 12pt;
	line-height: 1.5;
	padding: 7px 14px;
	transition: all .25s linear;
	width: 100%;
}

.config label {
	padding: 4px 0;
}

.content {
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	transition: all .25s ease-in-out;
	width: 100%;
}

.content header {
position: absolute;
top: 0px;
left: 240px;
z-index: 2;
background-color: rgb(255, 255, 255);
right: 0px;
}

.content header .title {
padding: 0px 20px;
line-height: 50px;
}

.content header .total-users {
position: absolute;
top: 0px;
right: 20px;
line-height: 50px;
}

.content .message a {
	color: #424242;
	text-decoration: underline;
}

.content .message a:hover {
	color: #000;
	text-decoration: none;
}

.content .status-message .message {
	opacity: 0.75;
	font-style: italic;
	font-size: 10pt;
}

.content .mention {
	background-color: #fde0dc;
	color: #B2281D;
	border-color: #F9BDBB;
}

.content .action {
	font-style: italic;
}

.content .message {
	padding: 5px 10px 5px 0;
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.content .sender {
	font-weight: 600;
	margin-right: 5px;
	max-width: 140px;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 140px;
	padding: 5px 10px;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

.content .supplemental .sender {
	font-size: 0;
}

.content .timestamp {
	opacity: 0;
	font-size: 9pt;
	padding: 6px;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	transition: opacity 0.1s ease-in-out;
}

.content .timestamp,
.content .sender,
.content .message {

}

.content li {
	display: flex;
	display: -webkit-flex;
	width: 100%;
	padding: 0;
	border-top: 1px solid #f5f5f5;
}

.content li:hover .timestamp {
	opacity: 0.4;
}

.content li:last-child {
	margin-bottom: 50px;
}

.content li.supplemental {
	border: none;
}

.content.users-shown {
}

.overlay {
	background-color: #0e0810;
	color: White;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	z-index: 5000;

	background-image: url("/images/bg.jpg");
	background-size: cover;
	background-position: center bottom;
}

footer {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

footer a {
	color: White;
}



.tabbar li.active {
	color: #8BE9FD;
	background-color: #44485A;
}


.tabbar li a.activity {
	font-weight: bold;
}


.user-input {
	background-color: White;
	border: none;
	border-top: 1px solid #bdbdbd;
	bottom: 0;
	color: #616161;
	display: block;
	font: normal 11pt/19px sans-serif;
	left: 0;
	margin: 0;
	padding: 10px 20px;
	position: absolute;
	width: 100%;
	transition: all .25s ease-in-out;
}


.sidebar {
	background-color: #282A36;
	overflow: auto;
	transition: all .25s ease-in-out;
	width: 240px;
	flex-shrink: 0;
}

.sidebar header {
	background-color: #44485A;
	color: White;
	line-height: 50px;
	padding: 0px 20px;
	font-size: 14pt;
}

.sidebar h2 {
	font-weight: normal;
	text-transform: uppercase;
	padding: 0px 20px;
	color: White;
	opacity: 0.6;
	font-size: 11pt;
	margin: 20px 0px 0px;
}

.sidebar li a {
	color: White;
	display: block;
	margin: 5px 0;
	text-decoration: none;
	transition: color .25s ease-in-out;
	line-height: 25px;
	padding: 0px 0px 0px 20px;
}

.sidebar li a:hover {
	background-color: #6173A6;
}

.sidebar ul {
	list-style: none;
	padding: 0px 20px;
	margin: 10px 0px 40px;
}

.users-toggle img {
	vertical-align: middle;
}

.wrapper {
	display: flex;
	flex-direction: row;
}


.embed {
	margin: 10px 0 5px;
	padding: 0;
	background-color: White;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	box-shadow: 0 0 0 1px #ddd;
}

.content .message .embed a {
	text-decoration: none;
}

.thumb {
	line-height: 0;
}

.thumb img {
	max-width: 150px;
	max-height: 100px;
}

.description {
	padding: 15px 15px 10px;
	max-width: 450px;
}

.description h1 {
	margin: 0 0 5px;
	font-size: 10pt;
}

.description p {
	margin: 0;
}

.image-embed {
	max-width: 400px;
	max-height: 400px;
	width: 100%;
}


@media (max-width: 720px) {
	body {
		font-size: 10pt;
	}

	#canvas-container { display: none; }

	.config {
		padding: 20px;
		width: 100%;
	}

	.content {
		overflow-wrap: break-word;
		word-break: break-all;
	}

	.content li {

	}

	.content.users-shown {
		width: 100%;
	}

	.content .sender {
		max-width: 80px;
			width: 80px;
	}

	header div:nth-child(1) { width: 100%; padding: 0; }
	header div:nth-child(2) {
		display: none;
	}

	.tabbar {
		padding: 5px 10px 0;
	}

	.user-input {
		padding: 10px;
	}

	.user-input.users-shown {
		width: 100%;
	}

	.users,
	.content .timestamp,
	.users-toggle {
		display: none;
	}
}

.user-1  { color: #e51c23 }
.user-2  { color: #e91e63 }
.user-3  { color: #9c27b0 }
.user-4  { color: #673ab7 }
.user-5  { color: #3f51b5 }
.user-6  { color: #5677fc }
.user-7  { color: #03a9f4 }
.user-8  { color: #00bcd4 }
.user-9  { color: #009688 }
.user-10 { color: #259b24 }
.user-11 { color: #8bc34a }
.user-12 { color: #afb42b }
.user-13 { color: #ff9800 }
.user-14 { color: #ff5722 }
.user-15 { color: #795548 }
.user-16 { color: #607d8b }
